# VAPID Keys for Push Notifications
VAPID_PUBLIC_KEY=BDFoOJJlveiVDFjKJIL9vOF-W1bdYL8U7FAjDZdpozLtnNYRufRKzqFBXxiLssv-l6FcJH_t3fsdXMiCNse2ci4
VAPID_PRIVATE_KEY=oSVly6CvWhACe_zx2wrnQ73-Af7pDN8W0HxkxOymtCU
VAPID_EMAIL=mailto:fbassistecjari@gmail.com
